<?php

declare(strict_types=1);

return [
    'level' => 8,
    'paths' => [
        'src',
    ],
    'excludePaths' => [
        'tests',
        'vendor',
    ],
    'strictInternalClasses' => true,
    'treatPhpDocTypesAsCertain' => true,
];
